<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <form action="{{url_for('create') }}" method="post">
        Título do livro: <input type="text" name="title"><br>
        Autor: <input type="text" name="autor"><br>
        Ano: <input type="text" name="year"><br>
        Gênero: <input type="text" name="gender"><br>
        <input type="submit" value="crate book">
    </form>
</body>
</html>
