<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Atualizar Projeto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <form action="{{ url_for('update', id=book.id) }}" method="post">
        Título do livro: <input type="text" name="title" value="{{ book.title }}"><br>
        Autor: <input type="text" name="autor" value="{{ book.autor}}"><br>
        Ano: <input type="text" name="year" value="{{ book.year }}"><br>
        Gênero: <input type="text" name="gender" value="{{ book.gender}}"><br>
        <input type="submit" value="update book">
    </form>
</body>
</html>
