/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2980b9, #6dd5fa);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #e8f5e9;
}

tr:hover {
    background-color: #dcedc8;
  }