<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Bíblioteca do PH</h1>

    <form action="" method="post">
        <input type="email" name="" id="">

    </form>
    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Autor</th>
                <th>Year</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for book_id, book_title, book_autor, book_year, book_gender in books %}
            <tr>
                <td>{{ book_id }}</td>
                <td>{{ book_title }}</td>
                <td>{{ book_autor }}</td>
                <td>{{ book_year }}</td>
                <td>{{ book_gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
